
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@model LabTwenty.Models.UserInfo


<h2>AddUsers</h2>
<h1>Welcome: @Model.UserLastName, @Model.UserFirstName</h1>

