
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Please Fill in Registration Form</h1>
<form action="/Home/AddUser">
    Full First  Name : <input type="text" name="FirstName" /><br />
    Full Last  Name  : <input type="text" name="LastName" /><br />
    E-mail Address    : <input type="text" name="Email" /><br />
    Direct  Phone #      : <input type="text" name="Phone" /><br />
    Your Password    : <input type="text" name="Password" /><br />
    <input type = "submit" value="Submit" />

</form>

